#statistics-container header h1 {
    color: white;
}

.widget-container .form-control {
    margin-bottom:5px;
}

.widget-container .col-lg-2 {
    min-width:200px;
    padding-right: 0;
}

#client-filter {
    padding-right: 25px;
}

#map-container {
    height: 500px;
    padding: 0;
}

#map {
    height:100%;
    width: 100%;
}

.row {
    padding-bottom: 10px;
}


@media (max-width: 767px) {
}