body {
    overflow: hidden !important;
}

#header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a2326;
    line-height:60px;
    margin: 0;
    z-index: 10;
}

.container-fluid {
    padding: 0px !important;
    background-color: #111;
}

#content {
    margin-top: 60px;
}

#filetransfers {
    position: fixed;
    height: 200px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #1a2326;
    transition: all 0.25s ease;
    overflow-y: auto;
}

.fa-folder {
    color: #f2be35;
}

tr > th:nth-child(1) {
    width: 25px;
}

#content > table > tbody > tr > th {
    padding-left: 20px;
}

thead tr th {
    border-left: 1px solid #1a2326;
    border-right: 1px solid #1a2326;
}

.container-fluid tbody tr {
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 13px;
    user-select: none;
}

.container-fluid tbody tr:hover {
    background-color: #1a2326;
    transition: all 0.1s ease;
}

.selected {
    background-color: #405396 !important;
}

#parent-directory-button {
    text-align: center;
    transform: scaleX(-1);
    color: #b9b9b9;
    padding-right: 15px;
    cursor: pointer;
    z-index: -1;
}

#parent-directory-button:hover {
    background-color: #1a2326;
}

#currentDirectoryViewer {
    margin: 0 0 0 10px;
    line-height: 60px;
    color: #f2be35;
    white-space: nowrap;
    background: none;
    border: none;
    outline: none;
    width: 100%;
}

#status-dialog {
    width: 100%;
    background-color: #000;
    opacity: 0.9;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    z-index: 100;
    color: #f2be35;
    font-size: 1.5em;
    transition: background-color 0.5s ease;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
    overflow: hidden;
}

.invisible {
    opacity: 0;
}

#filetransfer-button {
    cursor: pointer;
}

#filetransfer-button:hover {
    background-color: #1a2326;
}

#filetransfers thead tr {
    background-color: #111;
}

#filetransfers tbody td {
    padding: 5px 20px 0px 5px;
}

.show-filetransfers {
    height: 200px !important;
}
.hide-filetransfers {
    height: 37px !important;
}

.progress {
    margin-top: 8px !important;
    margin-bottom: 0 !important;
}

.progress-bar {
    transition: all 0.5s ease;
}

#filetransfers tbody th {
    padding: 6px 8px 8px 8px !important;
}