#header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1a2326;
    line-height:60px;
    margin: 0;
}

.container-fluid {
    padding: 0px !important;
}

#header > div > span {
    margin: 0 0 0 10px;
    line-height: 60px;
    color: #f2be35;
}

#content {
    margin-top: 60px;
    background-color: #111;
}

#filetransfers {
    position: fixed;
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #1a2326;
}


.fa-folder {
    color: #f2be35;
}

tr > th:nth-child(1) {
    width: 25px;
}

#content > table > tbody > tr > th {
    padding-left: 20px;
}

thead tr th {
    border-left: 1px solid #1a2326;
    border-right: 1px solid #1a2326;
}