* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #111;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.jvectormap-container {
    background-color: #1a2326 !important;
}

.fw-semi-bold {
    font-weight: 600;
}

header {
    font-weight: 300;
    font-size: 20px;
    color: #f2be34;
}


.widget-container {
    background-color: #1a2326 !important;
    padding: 10px;
    padding-left: 10px;
}

#title-bar-header {
    margin-left: 20px;
    display:inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 50px;
}

#title-bar-menu {
    display: inline-block;
    float: right;
    line-height: 50px;
    font-size: 15px;
}

#logout-button {
    display: inline-block;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#logout-button:hover {
    background-color: #111;
}

.dropshadow {
    box-shadow: 0px 0px 5px #000000;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 6s;
}

.pulse {
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0s;
    opacity: 0;
}

#title-bar {
    font-size: 20px;
    color: #f2be35;
    margin-top: -20px;
    background-color: #1a2326;
    height: 50px;
    margin-bottom: 10px;
}

#page-content-wrapper {
    padding-left: 260px;
    padding-right: 10px;
    transition: all 0.2s ease;
    margin-top: 20px;
    z-index: -100;
}

.selected-item {
    background-color: #111;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.selected-icon {
    padding: 10px;
    border-radius: 100%;
    background-color: #f2be35;
    color: black;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.selected-text {
    color: #f2be35;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.nav-side-menu {
    color: #aaa;
    overflow: auto;
    font-size: 18px;
    background-color: #1a2326;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.nav-side-menu .brand {
  color: #9d9d9d;
  line-height: 90px;
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight:800;
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  font-weight:300;
}
.nav-side-menu li {
  border-top: 1px solid #2d2d2d;
  border-bottom: 1px solid #23282e;
  padding:15px;
}
.nav-side-menu li {
  text-decoration: none;
  color: #9d9d9d;
}

.nav-side-menu li span {
  padding-left:10px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-side-menu li:hover {
  background-color: #111;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-side-menu .toggle-btn {
  display: none;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: auto;
    left: 0px;
    padding-bottom:5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 10 !important;
    padding: 3px;
    color: inherit;
    background-color: transparent;
    width: 40px;
    text-align: center;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  #page-content-wrapper {
    padding-left: 0px;
    padding-right: 0px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
  #title-bar {
      
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(0.0, 0.0);
        background: none;
        opacity: 0.5;
    }

    50% {
        opacity: 1.0;
    }

    100% {
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1.5, 1.5);
        background: none;
        opacity: 0.0;
    }
}
