
@{
    ViewBag.Title = "Clients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clients</h2>


<script>
//Marks the button that leads you to this page as selected
toggleMenuItem("#@ViewBag.Title-menu-item");
</script>