@model IMP_Lib.Models.Client
@{
    ViewBag.Title = "Client - " + Model.Username;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
<script src="~/Scripts/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/Scripts/jquery-jvectormap-world-mill.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
<script src="~/Scripts/knockout.punches.min.js"></script>
<link href="~/Content/clientControl.css" rel="stylesheet" />
<script src="~/Scripts/imp-map.js"></script>
<script src="~/Scripts/SignalRHubs/ClientControlHub.js"></script>
<script src="~/Scripts/clientControl.js"></script>

<div class="container-fluid">
        <!-- SYSTEM SUMMARY TILE -->
    <div class="row">
        <div class="col-xs-6" id="left-side">
            <div class="col-12 dropshadow widget-container" id="system-summary">
                <header>
                    System <span class="fw-semi-bold">Summary</span>
                </header>
                <div class="row">
                    <div class="col-xs-12 col-md-5" id="system-summary-icon" onclick="showMenu()">
                        <img src="~/Content/Images/Systemtypes/{{ viewModel.Client().SystemInfo.SystemType }}_icon.png" style="max-width: 178px;">
                        <h5> Machinename </h5>
                        {{ viewModel.Client().SystemInfo.MachineName }}
                        
                    </div>
                    <div class="col-xs-12 col-md-7">
                        <h5>Operating system</h5>  {{ viewModel.Client().SystemInfo.OperatingSystem }} ({{ viewModel.Client().SystemInfo.FriendlySystemType }})
                        <h5>CPU</h5> {{ viewModel.Client().SystemInfo.CPU }} 
                        <h5>GPU</h5> {{ viewModel.Client().SystemInfo.GPU }} 
                        <h5>RAM</h5> {{ viewModel.Client().SystemInfo.RAM }} MB
                        <h5>Locale</h5> {{ viewModel.Client().SystemInfo.SystemLocale }} 
                    </div>
                </div>
            </div>

            <!-- DISPLAY OVERVIEW TILE -->
            <div class="col-xs-12 dropshadow d-block widget-container monitor-container">
                <header>
                    System <span class="fw-semi-bold">Displays</span>
                </header>


                {{#foreach: viewModel.Client().SystemInfo.Monitors }}
                <div class="monitor">

                    <img src="~/Content/Images/television.png" />

                    <h5>{{ Type }}</h5>
                    <span> {{ Resolution }}</span>

                    {{#if IsPrimary}}
                    <span class="label label-primary">Primary</span>
                    {{/if}}
                </div>
                {{/foreach}}
            </div>

            <!-- DRIVE SUMMARY TILE -->
            <div class="col-xs-12 dropshadow d-inline-block widget-container drive-container">
                <header>
                    System <span class="fw-semi-bold">Drives</span>
                </header>


                {{#foreach: viewModel.Client().SystemInfo.Drives }}

                    <div class="drive">
                        <img src="~/Content/Images/hard-drive-icon.png" />

                        <h5> {{ Name }} </h5>
                        <span class="label label-primary">{{ DriveType }}</span>
                        <span> {{ VolumeLabel }}</span>

                        <div class="progress">
                            <div class="{{ PercentFreeSpace | driveSpaceLabel | prepend:'progress-bar progress-bar-' }}" role="progressbar" style.width="{{ 100 - PercentFreeSpace | append:'px' }}">
                            </div>
                        </div>

                        <span> {{ AvailableFreeSpace | freeSpaceGB }} GB free</span>

                    </div>

                {{/foreach}}

            </div>

            <!-- INPUT DEVICE TILE -->
            <div class="col-xs-12 dropshadow d-inline-block widget-container input-device-container">
                <header>
                    Input <span class="fw-semi-bold">Devices</span>
                </header>


                {{#foreach: viewModel.Client().SystemInfo.InputDevices }}

                <div class="input-device ">

                    <img src="~/Content/Images/Inputdevices/{{Type}}_icon.png" />

                    <h5> {{ Type }}</h5>
                    <span>{{ Name }}</span>
                </div>

                {{/foreach}}
            </div>
        </div>
        <div class="col-xs-6 dropshadow" id="control-menu">
            <header>
                Action <span class="fw-semi-bold">Panel</span>
            </header>

            <div id="content">
                <button onclick="test()">Test</button>    
            </div>

        </div>

        <!-- MAP TILE -->
        <div id="client-map" class="col-xs-6 dropshadow">
        </div>
    </div>
</div>


<script>

    var showMenu = function () {
        //$('#left-side').toggleClass("col-xs-6").toggleClass("col-xs-4");
        //$('#control-menu').toggleClass("col-xs-6").toggleClass("col-xs-8").toggleClass("invisible");
        //document.getElementById("content").innerHTML = '<object type="text/html" data="~/Views/Control/SystemControl.cshtml">~/Views/Control/SystemControl.cshtml"></object>';

        $.get('/IMP-Api/Client/Id/',
            {
                parameter: 'BUBUCHENKO-S-1-5-21-3710005488-3752961230-307625830'
            },
            function (data) {
                console.log(JSON.parse(data));
                viewModel.Client(JSON.parse(data));
            });
    }


    //Set up KnockoutJS + Punches
    var viewModel = {
        Client: ko.observable(@Html.Raw((IMP_Data.ClientExtensionMethods.Serialize(Model)))),
    };

    ko.punches.enableAll();
    ko.punches.textFilter.enableForBinding('style.width');
    ko.filters.append = (str1, str2) => str1 + str2;
    ko.filters.prepend = (str1, str2) => str2 + str1;
    ko.filters.freeSpaceGB = function (value) {
        return (value / 1024 / 1024 / 1024).toFixed(2);
    };
    ko.filters.driveSpaceLabel = function (freeSpace) {
        if (freeSpace < 15)
            return "danger";
        else if (freeSpace < 25)
            return "warning";
        else
            return "primary";

    };
    ko.applyBindings(viewModel);

    var map = createMap($("#client-map"), 'world_mill');
    addClientToMap(viewModel.Client());

</script>