@model IMP_Web.Models.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/jquery-jvectormap-2.0.3.css" rel="stylesheet" />
<script src="~/Scripts/jquery-jvectormap-2.0.3.min.js"></script>
<script src="~/Scripts/jquery-jvectormap-world-mill.js"></script>
<link href="~/Content/dashboard.css" rel="stylesheet" />
<script src="~/Scripts/imp-map.js"></script>
<script src="~/Scripts/SignalRHubs/DashboardHub.js"></script>
<script src="~/Scripts/dashboard.js"></script>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 dropshadow widget-container" id="">
            <header>
                Client <span class="fw-semi-bold">Filter</span>
            </header>

            <div class="row" style="margin-top:10px">
                <div class="col-sm-2">
                    @Html.DropDownList("antivirus-filter", new SelectList(Model.Clients.OrderBy(x => x.SystemInfo.AntiVirus.ProductName)
               .Select(f => f.SystemInfo.AntiVirus.ProductName).Distinct()), "Any Antivirus...",
               new { @class = "input-sm form-control", @onchange = "applyFilter()" })
                </div>
                <div class="col-sm-2">
                    @Html.DropDownList("onlinestatus-filter", new SelectList(new List<string> { "Online", "Offline" }), "Any status...",
               new { @class = "input-sm form-control", @onchange = "applyFilter()" })
                </div>
                <div class="col-sm-2">
                    @Html.DropDownList("computertype-filter", new SelectList(Model.Clients.OrderBy(x => x.SystemInfo.SystemType)
               .Select(f => f.SystemInfo.SystemType).Distinct()), "Any System type...",
               new { @class = "input-sm form-control", @onchange = "applyFilter()" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 dropshadow" id="map-container">
            <div id="map"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 dropshadow widget-container" id="statistics-container">
            <header>
                    Clients <span class="fw-semi-bold">Online</span>
            </header>
        </div>
        <div class="col-lg-3 dropshadow widget-container" id="statistics-container">
            <header>
                Client <span class="fw-semi-bold">Growth</span>
            </header>
        </div>
        <div class="col-lg-6 dropshadow widget-container" id="statistics-container">
            <header>
                Client <span class="fw-semi-bold">Distribution</span>
            </header>
        </div>
    </div>
</div>




<script>
//Marks the button that leads you to this page as selected
    toggleMenuItem("#@ViewBag.Title-menu-item");

    var map = createMap($("#map"), 'world_mill');

    addClientsToMap(@Html.Raw(Model.SerializedClients));
</script>
