
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <link href="~/Content/fancytree/ui.fancytree.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.fancytree-all.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>FileBrowser</title>
</head>
<body>


</body>
</html>
