<?xml version="1.0"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source propagateActivity="true" name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type=""/>
					</add>
					<add name="ServiceModelTraceListener">
						<filter type=""/>
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Verbose,ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type=""/>
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type=""/>
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add initializeData="C:\Users\Bubu Kirichenko\Source\Repos\IMP\IMP-Service\web_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
			<add initializeData="C:\Users\Bubu Kirichenko\Source\Repos\IMP\IMP-Service\web_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type=""/>
			</add>
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
		<add key="webpages:Version" value="3.0.0.0"/>
		<add key="webpages:Enabled" value="false"/>
		<add key="ClientValidationEnabled" value="true"/>
		<add key="UnobtrusiveJavaScriptEnabled" value="true"/>
		
		<!-- SignalR -->
		<add key="owin:appStartup" value="ConfigureSignalR"/>
		<add key="SignalRHostAddress" value="http://localhost:99"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5.2"/>
		<httpRuntime targetFramework="4.5.2"/>
	</system.web>
	<system.serviceModel>
		<diagnostics>
			<messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
			<endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true"/>
		</diagnostics>
		<bindings>
			<netTcpBinding>
				<binding name="DefaultTCPBinding" maxReceivedMessageSize="6553600">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="IMP_Service.MainService">
				<clear/>
				<endpoint address="net.tcp://localhost:8080/IMP-Service/Main.svc" binding="netTcpBinding" bindingConfiguration="DefaultTCPBinding" name="IMPService" contract="IMP_Lib.IServerContract" listenUriMode="Explicit"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https"/>
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
				To browse web app root directory during debugging, set the value below to true.
				Set to false before deployment to avoid disclosing web app folder information.
			-->
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
