<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTCPBinding" transferMode="Buffered">
          <reliableSession inactivityTimeout="10:10:00" />
          <security mode="None" />
        </binding>
        <binding name="FileTransferTCPBinding" transferMode="Streamed"
          maxReceivedMessageSize="9223372036854775807" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://94.209.146.117:8080/IMP-Service/Main.svc"
        binding="netTcpBinding" bindingConfiguration="DefaultTCPBinding"
        contract="IMP_Lib.IServerContract" name="Main" />
      <endpoint address="net.tcp://94.209.146.117:8080/IMP-service/FileTransfer.svc"
        binding="netTcpBinding" bindingConfiguration="FileTransferTCPBinding"
        contract="IMP_Lib.IFileTransferContract" name="FileTransfer" />
    </client>
  </system.serviceModel>
</configuration>