<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DefaultTCPBinding" closeTimeout="00:00:10" openTimeout="00:00:10"
          receiveTimeout="24.20:31:23.6470000" sendTimeout="00:00:10"
          transferMode="Buffered">
          <reliableSession inactivityTimeout="24.20:31:23.6470000" enabled="false" />
          <security mode="None" />
        </binding>
        <binding name="FileTransferTCPBinding" receiveTimeout="00:20:00"
          sendTimeout="00:20:00" transferMode="Streamed" maxReceivedMessageSize="9223372036854775807">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://94.209.146.117:8080/IMP-Service/Main.svc"
        binding="netTcpBinding" bindingConfiguration="DefaultTCPBinding"
        contract="IMP_Lib.IServerContract" name="Main" />
      <endpoint address="net.tcp://94.209.146.117:8080/IMP-service/FileTransfer.svc"
        binding="netTcpBinding" bindingConfiguration="FileTransferTCPBinding"
        contract="IMP_Lib.IFileTransferContract" name="FileTransfer" />
    </client>
  </system.serviceModel>
</configuration>